<% if user_signed_in? %>
   <% if current_user.email == "jerrome@example.com"%>

		<h1>Editing Salon Employee</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @salon_employee %> |
		<%= link_to 'Back', salon_employees_path %>
<% end %>
<% end %>